<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each productos}}
        <li>
            <strong>{{nombre}}</strong> - Precio: ${{precio}}
        </li>
        {{/each}}
    </ul>
</body>
</html>


<script src=""></script>